.container-heading {
  margin-left: 6.5%;
  margin-right: 6.5%;
  padding: 3%;
  justify-self: center;
  align-self: center;
}
input[type="file"] {
  display: none;
}
#img-input-button {
  background-color: #4bb543;
}

.ImageContainer {
  display: flex;
  /* flex-direction: column; */
  margin-left: 1%;
  /* justify-content: center; */
  align-items: center;
  justify-content: space-around;
}
.ContainerItem {
  height: 350px;
  width: 500px;
}
#cancel-btn {
  background-color: #f12f2f;
}
/* ----- */
/* Style The dropdown-menu Button */
#dropbtn {
    width: 158px;
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  /* The container <div> - needed to position the dropdown-menu content */
  #dropdown-menu {
    position: relative;
    display: inline-block;
  }
  
  /* dropdown-menu Content (Hidden by Default) */
  .dropdown-list {
    display: none;
    list-style: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    cursor: pointer;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown-menu */
  .dropdown-list li {
    /* color: black; */
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown-menu links on hover */
  .dropdown-list li:hover {background-color: #f1f1f1}
  
  /* Show the dropdown-menu menu on hover */
  #dropdown-menu:hover .dropdown-list {
    display: block;
  }
  
  /* Change the background color of the dropdown-menu button when the dropdown-menu content is shown */
  #dropdown-menu:hover #dropbtn {
    background-color: #3e8e41;
  }
